service touchDaemon  /odm/bin/touchDaemon
    class late_start
    socket hidl2touchdaemon_client dgram 0660 root inet
    socket hidl2touchdaemon_server dgram 0660 root inet
    user root
    group root inet misc sdcard_rw sdcard_r media_rw system radio input system

on boot
    chown root root /odm/bin/touchDaemon
    chown system system /dev/tp_misc
    chown system system /dev/tp_misc1
    chown system system /dev/tcm_hbp0
    chmod 0777 odm/bin/touchDaemon
    chmod 0777 dev/tp_misc
    chmod 0777 dev/tp_misc1
    chmod 0777 dev/tcm_hbp0
    mkdir /data/vendor/touch 0771 system system
    mkdir /data/vendor/touch/log 0771 system system
    chmod 0777 /data/vendor/touch/frameLog.log
    chmod 0777 /data/vendor/touch/touchHealthInfo.log

on property:vendor.oplus.touchDaemon.enable=0
    stop touchDaemon
